*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(../img/editprofile.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}
form-editprofile{
  margin: auto;
}
h1{
  color: white;
}
h3{
  color: white;
}
.container{
  color: white;
  margin: auto;
}

.form-editprofile{
  color:white;
}

.archivo{
margin: 20px;
color: white;
display: block;

}

.avatar{
  border-radius: 52%;
  width: 200px;
}
