*{
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url("chinh-le-duc-264152-unsplash.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  }

h1{
  font-family: 'Courgette', cursive;
  color: white;
  }

/* .container-fluid{

} */

.card {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  color: white;
  border-color: transparent;
  width: 25rem;
  margin-top:25%;
}

p{
  font-family: 'Raleway';
  color: rgb(175,175,175);
  font-size: 1.2em;
  }

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin-bottom: 15%;
}

.btn{
  background-color: #E24E42;
  color: white;
}


/* .buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
/*




.container-fluid {

}

.navbar-expand{-sm|-md|-lg|-xl
} */
